
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w1000">
        <div class="w1050">
            <!--		<div class="web_left">
                         <div class="web_left_1">
                           <span>关于欧蓝</span>
                           <span style="float:right;"><img src="/templets/default/images/bjehome_more2.png"/></span>
                         </div>

                         <div class="web_left_2"><ul>

                         </ul></div>
                         <div class="web_left_3">
                            <!--广告-->
            <!--
                 </div>
            </div> -->

            <div class="webwidth_right">
                <ul class="tab">
                    <li>关于欧蓝</li>
                    <span style="float:right;"><img src="/templets/default/images/bjehome_more2.png" /></span>
                </ul>

                <div class="web_right_3">
                    <div class="web_right_3_title">关于欧蓝</div>
                    <div class="web_right_3_content">
                        <div>
                            <span style="color: #000000">　<span style="font-size: 18px">　北京欧蓝德畅电子技术有限公司坐落于北京市国际信息产业基地国际创业园。公司注册资金1000万元，生产厂区面积5000余平方米，员工200余人。我公司一直致力于智慧医院领域的发展，以及自助设备的研发、生产、销售以及服务。经过十余年的发展，已形成完备的全国营销网络与服务体系。所有产品均通过国家强制性产品认证（3C认证），并率先通过电工产品合格测试与认证的IEC体系。欧蓝科技秉承&ldquo;诚信铸就未来，科技打造成功&rdquo;的企业文化，树立&ldquo;诚信、创新、务实&rdquo;的企业价值观,依靠勤奋、谦谨、迅捷、自信、互助的企业精神，不断实现&nbsp;&ldquo;领航智慧医疗，助推行业创新&rdquo;的企业愿景。依托北京航天航空大学建立起一支素质过硬、技术过硬、思想过硬的智慧医疗领域的设计研发团队。</span></span>
                        </div>
                        <span style="color: #000000">
                            <span style="font-size: 18px">
                                我们围绕着客户需求建立起一套完善的客户管理体系，秉承&ldquo;永远追求进步，信誉始终如一&rdquo;的原则，在科学、严谨态度下，打造&ldquo;欧蓝服务品牌&rdquo;。我们的售后服务体系由规范的服务标准、完善的服务网络以及科学严谨的管理流程组成，形成了欧蓝科技服务体系的核心理念。<br />
                                <strong>公司愿景：</strong>
                            </span><br />
                            <strong><span style="font-size: 18px">&nbsp; &nbsp; &nbsp; </span></strong><span style="font-size: 18px">
                                领航智慧医疗，助推行业创新<br />
                                &nbsp; &nbsp; &nbsp; 通力协作，改善患者就医流程，助力医院信息化变革！
                            </span><br />
                            <strong><span style="font-size: 20px">企业精神：</span></strong><br />
                            <span style="font-size: 18px">&nbsp; &nbsp; &nbsp; 诚信、创新、务实、超越。</span><br />
                            <strong><span style="font-size: 20px">企业作风：</span></strong><br />
                            <span style="font-size: 18px">&nbsp; &nbsp; &nbsp; 谦谨、迅捷、自信、互助。</span><br />
                            <strong><span style="font-size: 20px">团队理念：</span></strong><br />
                            <span style="font-size: 18px">&nbsp; &nbsp; &nbsp;目标一致、相互支持、共同努力、创造奇迹。</span><br />
                            <strong><span style="font-size: 20px">企业宗旨：</span></strong><br />
                            <span style="font-size: 18px">
                                &nbsp; &nbsp; &nbsp; 为客户：提供最优质的产品与服务；<br />
                                &nbsp; &nbsp; &nbsp; 为合作伙伴：精诚合作，共谋发展；
                            </span><br />
                            <span style="font-size: 18px">&nbsp; &nbsp; &nbsp; 为员工：尊重人才，充分展现自我才华及创造力，提供实现人生价值与梦想的舞台。</span>
                        </span><br />
                        <strong><span style="font-size: 20px">公司资质：</span></strong><br />
                        <br />
                        <table border="0" cellpadding="0" cellspacing="0" height="809">
                            <tbody>
                                <tr>
                                    <td align="middle">
                                        <img alt="" src="/uploads/allimg/140612/2-140612094240608.jpg" style="width: 120px; height: 160px" /><br />
                                        <b>银医通系统</b>
                                    </td>
                                    <td align="middle">
                                        <img alt="" src="/uploads/allimg/140612/2-14061209433T29.jpg" style="width: 120px; height: 160px" /><br />
                                        <strong>&nbsp;自助服务系统</strong>
                                    </td>
                                    <td align="middle">
                                        <img alt="" src="/uploads/allimg/140612/2-140612094411b3.jpg" style="width: 120px; height: 160px" /><br />
                                        <strong>自助化验单打印系统</strong>
                                    </td>
                                    <td align="middle">
                                        <img alt="" src="/uploads/allimg/140612/2-14061209454Y57.jpg" style="width: 120px; height: 160px" /><br />
                                        <strong>&nbsp;自助缴费系统</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="middle">
                                        <img alt="" src="/uploads/allimg/140612/2-140612094649225.jpg" style="width: 120px; height: 160px" /><br />
                                        <strong>医院分诊系统</strong>
                                    </td>
                                    <td align="middle">
                                        <img alt="" src="/uploads/allimg/140612/2-140612094HYX.jpg" style="width: 120px; height: 160px" /><br />
                                        <strong>医院导诊系统</strong>
                                    </td>
                                    <td align="middle">
                                        <img alt="" src="/uploads/allimg/140612/2-140612094UWI.jpg" style="width: 120px; height: 160px" /><br />
                                        <strong>USB评价器系统</strong>
                                    </td>
                                    <td align="middle">
                                        <br />
                                        <img alt="" src="/uploads/allimg/140612/2-140612103100V5.jpg" style="width: 120px; height: 160px" /><br />
                                        <strong>排队评价管理系统</strong><br />
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;<br />
                                        &nbsp;&nbsp;&nbsp;<img alt="" src="/uploads/allimg/140612/2-14061210521RW.jpg" style="width: 120px; height: 160px" /><br />
                                        &nbsp;&nbsp;<strong>&nbsp;工资查询管理软件</strong><br />
                                        <div style="text-align: center">
                                            &nbsp;
                                        </div>
                                    </td>
                                    <td>
                                        &nbsp;&nbsp;&nbsp;<img alt="" src="/uploads/allimg/140612/2-140612111H0232.jpg" style="width: 120px; height: 160px" /><br />
                                        <div style="text-align: center">
                                            <strong>排队查询统计系统</strong>
                                        </div>
                                    </td>
                                    <td>
                                        <br />
                                        <div style="text-align: center">
                                            <img alt="" src="/uploads/allimg/140612/2-140612111P9645.jpg" style="width: 120px; height: 160px" /><br />
                                            <strong>欧蓝3C认证（中文）</strong><br />
                                            &nbsp;
                                        </div>
                                    </td>
                                    <td>
                                        &nbsp;&nbsp;<img alt="" src="/uploads/allimg/140612/2-140612111ZMc.jpg" style="width: 120px; height: 160px" /><br />
                                        <div style="text-align: center">
                                            <strong>欧蓝3C认证（英文）</strong>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;&nbsp;&nbsp;<img alt="" src="/uploads/allimg/140612/2-14061210361S45.jpg" style="width: 120px; height: 160px" />&nbsp;&nbsp;<br />
                                        <strong>&nbsp;IS9000认证（中文）</strong>
                                    </td>
                                    <td>
                                        &nbsp;&nbsp;<img alt="" src="/uploads/allimg/140612/2-140612103523527.jpg" style="width: 120px; height: 160px" /><br />
                                        <strong>&nbsp;IS9000认证（英文）</strong>
                                    </td>
                                    <td colspan="2">
                                        <div style="text-align: center">
                                            <img alt="" src="/uploads/allimg/140612/2-1406121132215P.jpg" style="width: 250px; height: 160px" /><br />
                                            <strong>企业法人营业执照</strong>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <table align="left" border="0" cellpadding="1" cellspacing="1" style="width: 500px">
                            <tbody>
                                <tr>
                                    <td>
                                        <table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 500px">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 500px;">
                                                            <tbody>
                                                                <tr></tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong style="font-size: 18px;">联系方式：</strong>
                                                                    </td>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span style="font-size: 18px;">北京欧蓝德畅电子技术有限公司</span>
                                                                    </td>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span style="font-size: 18px;">地址：</span><span style="font-size: 18px;">北京市海淀区上地信息产业基地国际创业园2号楼24层</span>
                                                                        <div>
                                                                            <span style="font-size: 18px;">电话：+86-10-82893616</span>
                                                                        </div>
                                                                        <div>
                                                                            <span style="font-size: 18px;">传真：+86-10-82894204</span>
                                                                        </div>
                                                                        <div>
                                                                            <span style="font-size: 18px;">E-Mail：olkiosk@olkiosk.com&nbsp;</span>
                                                                        </div>
                                                                        <div>
                                                                            <span style="font-size: 18px;">邮编：100085</span>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong><span style="font-size: 18px;">业务部门电话：</span></strong>
                                                                    </td>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <div>
                                                                            &nbsp;
                                                                        </div>
                                                                        <div>
                                                                            <span style="font-size: 18px;"><strong>银医通事业部：</strong>&nbsp;010-82893616转608</span><span style="font-size: 18px;">&nbsp;</span><br />
                                                                            <span style="font-size: 18px;">蒋经理：1337018751</span><span style="font-size: 18px;">8</span><br />
                                                                            &nbsp;
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span style="font-size: 18px;"><strong>渠道销售部：</strong>010-82893616转606</span><br style="font-size: 18px;" />
                                                                        <span style="font-size: 18px;">张经理：13810187803</span><span style="font-size: 18px;">徐经理：13311365681</span><br />
                                                                        <span style="text-align: center; font-size: 18px;">于经理：18001222957</span><br />
                                                                        &nbsp;
                                                                    </td>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span style="font-size: 18px;">24小时销售热线：400-648-8881</span>
                                                                    </td>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span style="font-size: 18px;">24小时售后服务：18001318526</span><br />
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <br />
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center">
                            <div style="text-align: left">
                                <span style="font-size: 18px">　　</span>
                            </div>
                        </div>
                        <br />

                    </div>
                </div>

            </div>
            <div class="web_clear"></div>
        </div>
    </div>



