
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="w1000">
        <div class="w1050">
            <!--		<div class="web_left">
                         <div class="web_left_1">
                           <span>联系我们</span>
                           <span style="float:right;"><img src="/templets/default/images/bjehome_more2.png"/></span>
                         </div>

                         <div class="web_left_2"><ul>

                         </ul></div>
                         <div class="web_left_3">
                            <!--广告-->
            <!--
                 </div>
            </div> -->

            <div class="webwidth_right">
                <ul class="tab">
                    <li>联系我们</li>
                    <span style="float:right;"><img src="/templets/default/images/bjehome_more2.png" /></span>
                </ul>
                <div class="web_right_3">
                    <div class="web_right_3_title">联系我们</div>
                    <div class="web_right_3_content">
                        <table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 500px">
                            <tbody>
                                <tr></tr>
                                <tr>
                                    <td>
                                        <strong style="font-size: 18px">联系方式：</strong>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size: 18px">北京欧蓝德畅电子技术有限公司</span>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size: 18px">地址：</span><span style="font-size: 18px">北京市海淀区上地信息产业基地国际创业园2号楼24层</span>
                                        <div>
                                            <span style="font-size: 18px">电话：+86-10-82893616</span>
                                        </div>
                                        <div>
                                            <span style="font-size: 18px">传真：+86-10-82894204</span>
                                        </div>
                                        <div>
                                            <span style="font-size: 18px">E-Mail：olkiosk@olkiosk.com&nbsp;</span>
                                        </div>
                                        <div>
                                            <span style="font-size: 18px">邮编：100085</span>
                                        </div>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong><span style="font-size: 18px">业务部门电话：</span></strong>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            &nbsp;
                                        </div>
                                        <div>
                                            <span style="font-size: 18px"><strong>银医通事业部：</strong>&nbsp;010-82893616转608</span><span style="font-size: 18px">&nbsp;</span><br />
                                            <span style="font-size: 18px">蒋经理：1337018751</span><span style="font-size: 18px">8</span><br />
                                            &nbsp;
                                        </div>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size: 18px"><strong>渠道销售部：</strong>010-82893616转606</span><br style="font-size: 18px" />
                                        <span style="font-size: 18px">张经理：13810187803</span><span style="font-size: 18px;">徐经理：13311365681</span><br />
                                        <span style="text-align: center; font-size: 18px;">于经理：18001222957</span><br />
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size: 18px">24小时销售热线：400-648-8881</span>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size: 18px">24小时售后服务：18001318526</span><br />
                                        &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <div class="web_clear"></div>
        </div>
    </div>
