@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div style="clear:both;"></div>
    <div style="height:129px; width:1000px;"></div>
    <div class="w1000">
        <!--首页BANANER-->
        <script language='javascript'>
            linkarr = new Array();
            picarr = new Array();
            textarr = new Array();
            var swf_width = 1000;
            var swf_height = 220;
            //文字颜色|文字位置|文字背景颜色|文字背景透明度|按键文字颜色|按键默认颜色|按键当前颜色|自动播放时间|图片过渡效果|是否显示按钮|打开方式
            var configtg = '0xffffff|2|0xffffff|9|9xffffff|0xC5DDBC|0x000033|10|3|1|_blank';
            var files = "";
            var links = "";
            var texts = "";
            //这里设置调用标记
            linkarr[1] = "";
            picarr[1] = "2-1503110Z950521.jpg"/*tpa=http://www.olkiosk.com/uploads/150311/2-1503110Z950521.jpg*/;
            textarr[1] = "银医通";
            //textarr[1] = "银医通";
            linkarr[2] = "";
            picarr[2] = "2-150319113435V1.jpg"/*tpa=http://www.olkiosk.com/uploads/150319/2-150319113435V1.jpg*/;
            textarr[2] = "欧蓝企业";
            //textarr[2] = "欧蓝企业";
            linkarr[3] = "";
            picarr[3] = "2-150311091333301.jpg"/*tpa=http://www.olkiosk.com/uploads/150311/2-150311091333301.jpg*/;
            textarr[3] = "自助终端机";
            //textarr[3] = "自助终端机";
            linkarr[4] = "";
            picarr[4] = "2-13121ZU530252.jpg"/*tpa=http://www.olkiosk.com/uploads/131219/2-13121ZU530252.jpg*/;
            textarr[4] = "愿景";
            //textarr[4] = "愿景";
            linkarr[5] = "";
            picarr[5] = "2-13121Z91PT45.jpg"/*tpa=http://www.olkiosk.com/uploads/131219/2-13121Z91PT45.jpg*/;
            textarr[5] = "微信平台";
            //textarr[5] = "微信平台";

            for (i = 1; i < picarr.length; i++) {
                if (files == "") files = picarr[i];
                else files += "|" + picarr[i];
            }
            //	for(i=1;i<linkarr.length;i++){
            //	if(links=="") links = linkarr[i];
            //	else links += "|"+linkarr[i];
            //	}
            //	for(i=1;i<textarr.length;i++){
            //	if(texts=="") texts = textarr[i];
            //	else texts += "|"+textarr[i];
            //	}
            //document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ swf_width +'" height="'+ swf_height +'">');
            //document.write('<param name="movie" value="bcastr3.swf"/*tpa=http://www.olkiosk.com/templets/default/images/bcastr3.swf*/><param name="quality" value="high">');
            //document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
            //document.write('<param name="FlashVars" value="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_title='+texts+'&bcastr_config='+configtg+'">');
            //document.write('<embed src="bcastr3.swf"/*tpa=http://www.olkiosk.com/templets/default/images/bcastr3.swf*/ wmode="opaque" FlashVars="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_title='+texts+'&bcastr_config='+configtg+'&menu="false" quality="high" width="'+ swf_width +'" height="'+ swf_height +'" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />'); document.write('</object>');
        </script>

    </div>


<!------------中间内容------------>

    @*首页轮播*@
    <div class="zhongjian_width">
        <div class="zhongjian_width_shang_menu">
            <a href="index-3.htm" tppabs="http://www.olkiosk.com/a/chanpinzhanshi/"><img src="http://www.olkiosk.com/templets/default/images/shang_2.jpg" /></a>
        </div>
        <div style=" clear:both;"></div>
        <div class="zhongjian_width_zhong">
            <div class="rollBox">
                <div class="LeftBotton" onmousedown="ISL_GoUp()" onmouseup="ISL_StopUp()" onmouseout="ISL_StopUp()"></div>
                <div class="Cont" id="ISL_Cont">
                    <div class="ScrCont">
                        <div id="List1">
                            <!-- 图片列表 begin -->
                            <div class="pic">
                                
   
                                <a href="155.html"><img src="~/Image/ShouYe/01aolin.jpg" width="180" height="240" /></a>
                                <p><a href="155.html" >奥林匹克公园</a></p>
                            </div>
                            <div class="pic">
                                <a href="53.html" ><img src="~/Image/ShouYe/02sanli.JPG" width="180" height="240" /></a>
                                <p><a href="53.html" >北京三里屯</a></p>
                            </div>
                            <img src="" />
                            <img src="" />
                            <img src="" />
                            <img src="" />
                            <div class="pic">
                                <a href="149.html" ><img src="~/Image/ShouYe/03guojia.JPG" width="180" height="240" /></a>
                                <p><a href="149.html">国家大剧院</a></p>
                            </div>
                            <div class="pic">
                                <a href="51.html" ><img src="~/Image/ShouYe/04bangu.JPG"  width="180" height="240" /></a>
                                <p><a href="51.html">盘古大观</a></p>
                            </div>
                            <div class="pic">
                                <a href="157.html" ><img src="~/Image/ShouYe/05tiyu.jpg" width="180" height="240" /></a>
                                <p><a href="157.html" >苏州体育中心</a></p>
                            </div>
                            <div class="pic">
                                <a href="55.html" ><img src="~/Image/ShouYe/06suzhou.jpg"  width="180" height="240" /></a>
                                <p><a href="55.html" >苏州中心</a></p>
                            </div>

                            <!-- 图片列表 end -->

                        </div>
                        <div id="List2"></div>
                    </div>
                </div>
                <div class="RightBotton" onmousedown="ISL_GoDown()" onmouseup="ISL_StopDown()" onmouseout="ISL_StopDown()"></div>
            </div>
        </div>

        <div class="w1000">
            <div class="w1050">
                <!-------start---------------->
                <div class="zhongjian_width">
                    <div class="zhongjian_width_shang_menu">
                        <a href="http://www.olkiosk.com/a/jiejuefangan/index-2.htm"><img src="http://www.olkiosk.com/templets/default/images/shang_1.jpg" /></a>
                    </div>
                    <div style=" clear:both;"></div>



                    <div class="zhongjian_width_shang">
                        <ul>
                            <li>
                                <div class="zhongjian_width_shang_tu">
                                    <a href=""><img src="~/Image/JieJueFangAn/02.jpg" /></a>
                                </div>

                                <div class="zhongjian_width_shang_jianjie"><a href="210.html"> 我司开发的智慧大厅排队管理系统，在政务大厅中的应用采取与政务工作完美结合的方式进行布署，让办事人员及企业可以直接了当的取选到自已所要办事的业务，政务大厅排队管理系统已成为政府工作中的得力助手！</a></div>
                            </li>
                            <li>
                                <div class="zhongjian_width_shang_tu">
                                    <a href="150.html"><img src="~/Image/JieJueFangAn/03.jpg" /></a>
                                </div>
                                <div class="zhongjian_width_shang_jianjie"><a href="150.html" tppabs="http://www.olkiosk.com/a/fangan_ruanjian/2014/1215/150.html"> 银医一卡通项目的基本原则是患者、医院和银行的多方共赢局面，系统建设首先要考虑方便患者使用，确实解决患者多种就诊问题，尤其是排队问题，针对医院，要求解决管理者对医院的整体监管和针对性的决策指导，缓解门诊护士任务繁琐，工作量大问题，减少患者排队，优化门诊</a></div>
                            </li>
                            <li>
                                <div class="zhongjian_width_shang_tu">
                                    <a href="208.html"><img src="~/Image/JieJueFangAn/04.jpg" /></a>
                                </div>
                                <div class="zhongjian_width_shang_jianjie"><a href="208.html" tppabs="http://www.olkiosk.com/a/fangan_ruanjian/2015/0413/208.html"> 医院自助打印系统在医院中有广泛的应用，如化验单打印、病历打印、住院日清单打印等各种自助报告打印等。</a></div>
                            </li>
                            <li>
                                <div class="zhongjian_width_shang_tu">
                                    <a href="151.html"><img src="~/Image/JieJueFangAn/05.jpg" /></a>
                                </div>
                                <div class="zhongjian_width_shang_jianjie"><a href="151.html" tppabs="http://www.olkiosk.com/a/fangan_ruanjian/2014/1215/151.html"> 目前居民健康卡项目和银医一卡通项目已然共同发展，多省业已明确要求医院一卡通系统须基于居民健康卡实施，我公司的银医一卡通方案在设计之初就考虑到系统的适应性和扩展性，因此在扩展居民健康卡的功能时，只需增加居民健康卡读卡模块即可，发卡是较独立的部分，只需通</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <!----------end-------------->


 <script language="javascript" type="text/javascript">
<!--//--><![CDATA[//><!--
//图片滚动列表 mengjia 070816
var Speed = 1; //速度(毫秒)
var Space = 2; //每次移动(px)
var PageWidth = 930; //翻页宽度
var fill = 0; //整体移位
var MoveLock = false;
var MoveTimeObj;
var Comp = 0;
var AutoPlayObj = null;
GetObj("List2").innerHTML = GetObj("List1").innerHTML;
GetObj('ISL_Cont').scrollLeft = fill;
GetObj("ISL_Cont").onmouseover = function(){clearInterval(AutoPlayObj);}
GetObj("ISL_Cont").onmouseout = function(){AutoPlay();}
AutoPlay();
function GetObj(objName){if(document.getElementById){return eval('document.getElementById("'+objName+'")')}else{return eval('document.all.'+objName)}}
function AutoPlay(){ //自动滚动
 clearInterval(AutoPlayObj);
 AutoPlayObj = setInterval('ISL_GoDown();ISL_StopDown();',5000); //间隔时间
}
function ISL_GoUp(){ //上翻开始
 if(MoveLock) return;
 clearInterval(AutoPlayObj);
 MoveLock = true;
 MoveTimeObj = setInterval('ISL_ScrUp();',Speed);
}
function ISL_StopUp(){ //上翻停止
 clearInterval(MoveTimeObj);
 if(GetObj('ISL_Cont').scrollLeft % PageWidth - fill != 0){
  Comp = fill - (GetObj('ISL_Cont').scrollLeft % PageWidth);
  CompScr();
 }else{
  MoveLock = false;
 }
 AutoPlay();
}
function ISL_ScrUp(){ //上翻动作
 if(GetObj('ISL_Cont').scrollLeft <= 0){GetObj('ISL_Cont').scrollLeft = GetObj('ISL_Cont').scrollLeft + GetObj('List1').offsetWidth}
 GetObj('ISL_Cont').scrollLeft -= Space ;
}
function ISL_GoDown(){ //下翻
 clearInterval(MoveTimeObj);
 if(MoveLock) return;
 clearInterval(AutoPlayObj);
 MoveLock = true;
 ISL_ScrDown();
 MoveTimeObj = setInterval('ISL_ScrDown()',Speed);
}
function ISL_StopDown(){ //下翻停止
 clearInterval(MoveTimeObj);
 if(GetObj('ISL_Cont').scrollLeft % PageWidth - fill != 0 ){
  Comp = PageWidth - GetObj('ISL_Cont').scrollLeft % PageWidth + fill;
  CompScr();
 }else{
  MoveLock = false;
 }
 AutoPlay();
}
function ISL_ScrDown(){ //下翻动作
 if(GetObj('ISL_Cont').scrollLeft >= GetObj('List1').scrollWidth){GetObj('ISL_Cont').scrollLeft = GetObj('ISL_Cont').scrollLeft - GetObj('List1').scrollWidth;}
 GetObj('ISL_Cont').scrollLeft += Space ;
}
function CompScr(){
 var num;
 if(Comp == 0){MoveLock = false;return;}
 if(Comp < 0){ //上翻
  if(Comp < -Space){
   Comp += Space;
   num = Space;
  }else{
   num = -Comp;
   Comp = 0;
  }
  GetObj('ISL_Cont').scrollLeft -= num;
  setTimeout('CompScr()',Speed);
 }else{ //下翻
  if(Comp > Space){
   Comp -= Space;
   num = Space;
  }else{
   num = Comp;
   Comp = 0;
  }
  GetObj('ISL_Cont').scrollLeft += num;
  setTimeout('CompScr()',Speed);
 }
}
//--><!]]>
                </script>
            </div>
        </div>
        <div style="clear:both; overflow:hidden; 	background-color:#EEF4F9;"></div>

        <!----------end-------------->
        <div class="zhongjian_width">
            <div class="zhongjian_width_shang_menu">
                <a href="index-4.htm"><img src="http://www.olkiosk.com/templets/default/images/shang_3.jpg" /></a>
            </div>
            <div style=" clear:both;"></div>
            <div class="zhongjian_width_xia">
                <script src="http://www.400all.cn/templets/default/js/gundong_jiange.js"  type=text/javascript></script>
                <div class="haomatj" id=marqueediv1>
                    <ul>
                        <li>
                            <div class="zhongjian_width_xia_tu">
              
                                <a href="163.html" ><img src=" ~/Image/DianXing/1%e5%9b%bd%e5%ae%b6%e9%87%8d%e7%82%b9%e9%a1%b9%e7%9b%ae/1%e5%9b%bd%e5%ae%b6%e5%8d%9a%e7%89%a9%e9%a6%86.JPG"  /></a>
                            </div>
                            <div class="zhongjian_width_xia_neirong"><a href="163.html">北京市顺义区医院始建于1947年3月，是集医疗、教学、科研、预防保健为一体的本辖区最大区域医疗中心，2013年12月30日，晋升为北京市三级综合医院。医院拥有4个北京市住院医师规范化培训基地（内科、外科、神经内科和全科医师培训基地）。医院共开放床位800张</a></div>
                        </li>
                        <li>
                            <div class="zhongjian_width_xia_tu">
                                <a href="193.html"><img src=" ~/Image/DianXing/2%e5%9f%8e%e5%b8%82%e7%bb%bc%e5%90%88%e4%bd%93/2%e8%8b%8f%e5%b7%9e%e5%a4%aa%e6%b9%96%e6%96%b0%e5%9f%8e.jpg" /></a>
                            </div>
                            <div class="zhongjian_width_xia_neirong"><a href="193.html">首都医科大学附属北京同仁医院是北京市的一所三级甲等医院，现有员工200多人，科室37个，床位近900个。它的前身是1886年一美国基督教美以美会会士受派遣来华创立的一家眼科诊所，100多年来眼科一直是同仁医院的重点。</a></div>
                        </li>
                        <li>
                            <div class="zhongjian_width_xia_tu">

                                <a href="172.html" ><img src="~/Image/DianXing/3%e9%ab%98%e7%ab%af%e5%8a%9e%e5%85%ac%e6%a5%bc/10%e6%9c%94%e9%bb%84%e5%8f%91%e5%b1%95%e5%a4%a7%e5%8e%a6.jpg" /></a>
                            </div>
                            <div class="zhongjian_width_xia_neirong"><a href="172.html" >北京中医药大学东直门医院东区（原北京市通州区中医医院）坐落于北京的东大门,始建于1982年，2010年6月正式迁入通州区翠屏西路116号新址。随着通州区国际化新城的新概念，古老的京东大地被赋予了北京发展新磁极，首都功能新载体的全新定位。在这宏大而璀璨的历史背景下</a></div>
                        </li>
                        <li>
                            <div class="zhongjian_width_xia_tu">
                                <a href="192.html" ><img src="~/Image/DianXing/4%e5%95%86%e4%b8%9a/1%e5%89%8d%e9%97%a8%e5%a4%a7%e8%a1%97.jpg"  /></a>
                            </div>
                    
                            <div class="zhongjian_width_xia_neirong"><a href="192.html">北京协和医院是集医疗、教学、科研于一体的大型三级甲等综合医院，是国家卫生计生委指定的全国疑难重症诊治指导中心，也是最早承担高干保健和外宾医疗任务的医院之一，以学科齐全、技术力量雄厚、特色专科突出、多学科综合优势强大享誉海内外。</a></div>

                        </li>
                    </ul>
                </div>
                <script type=text/javascript>
                    new Marquee("marqueediv1", 0, 3, 1000, 220, 10, 5000, 500, 220);
                </script>
            </div>
        </div>



        <!----------end-------------->
    </div>

  