
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="w1000">
        <div class="w1050">
            <!--		<div class="web_left">
                         <div class="web_left_1">
                           <span>招贤纳士</span>
                           <span style="float:right;"><img src="/templets/default/images/bjehome_more2.png"/></span>
                         </div>

                         <div class="web_left_2"><ul>

                         </ul></div>
                         <div class="web_left_3">
                            <!--广告-->
            <!--
                 </div>
            </div> -->

            <div class="webwidth_right">
                <ul class="tab">
                    <li>招贤纳士</li>
                    <span style="float:right;"><img src="/templets/default/images/bjehome_more2.png" /></span>
                </ul>

                <div class="web_right_3">
                    <div class="web_right_3_title">招贤纳士</div>
                    <div class="web_right_3_content">
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px">&nbsp;<strong><span style="COLOR: #7f7f7f; FONT-SIZE: 16px">招聘职位：</span></strong></span><span style="COLOR: #953734; FONT-SIZE: 14px">高级软件工程师&nbsp;&nbsp;</span><span style="FONT-SIZE: 14px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong><span style="COLOR: #7f7f7f; FONT-SIZE: 16px">招聘邮箱：</span></strong><a href="mailto:HR@bjehome.com" style="COLOR: #0070c0; FONT-SIZE: 14px; TEXT-DECORATION: none"><span style="COLOR: #0070c0; FONT-SIZE: 14px">HR@bjehome.com</span></a>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px">&nbsp;<span style="COLOR: #7f7f7f; FONT-SIZE: 14px">部门：研发部 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;工作岗位：.net高级软件工程师 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 工作地点：北京&mdash;西二旗</span></span>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;招聘人数：若干 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 发布日期：2015-04-24 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;长期有效</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">-----------------------------------------------------------------------------------------------------------------------------------</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;岗位职责： &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></span><span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">1、参与系统的需求调研和需求分析，撰写相关技术文档；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2、按照要求完成数据库设计；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3、根据开发进度和任务分配，完成玩相应模块任务；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 4、解决开发过程中技术问题；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5、参与对程序代码的测试；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;职位要求：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1、具有良好的思维能力，同时关注到整体和细节；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2、具有良好的文档编写能力，能够撰写结构清晰，重点突出易读文档；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3、具有计算机相关专科及以上学历；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 4、熟悉数据库（SQLSERVERH和ORACLE）开发，能够独立进行数据库设计；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5、具有二年以上.net平台（C#、winform）开发经验；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6、具有分布式应用系统的设计和开发经验者优先；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 7、具有医疗、银行行业开发经验者优先考虑。</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;职位年薪： &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 年薪8-20万、餐补、交补、双休、五险一金、国家法定节假日、每周四健身房活动。</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                        </p>
                        <p>
                            <span style="font-size:16px;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(127, 127, 127);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>将简历发送至：公司企业邮箱</strong></span></span></span>
                        </p>
                        <p>
                            <span style="color:#808080;"><u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</u></span><br />
                            <span style="color:#808080;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
                        </p>
                        <p>
                            <span style="color:#808080;"><span style="font-size: 16px;"><span style="font-size: 14px;"><span style="font-size: 16px;"><strong>招聘职位：</strong></span><span style="font-size: 14px;">销售总监&nbsp;&nbsp;</span><span style="FONT-SIZE: 14px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></span></span><span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px"><strong><span style="COLOR: #7f7f7f; FONT-SIZE: 16px">招</span></strong><strong><span style="COLOR: #7f7f7f; FONT-SIZE: 16px">聘邮箱：</span></strong><a href="mailto:HR@bjehome.com" style="COLOR: #0070c0; FONT-SIZE: 14px; TEXT-DECORATION: none"><span style="COLOR: #0070c0; FONT-SIZE: 14px">HR@bjehome.com</span></a></span></span>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px">&nbsp;<span style="COLOR: #7f7f7f; FONT-SIZE: 14px">部门：销售部 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;工作岗位：.销售总监 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;工作地点：北京&mdash;西二旗</span></span>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;招聘人数：若干 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;发布日期：2015-04-24 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 长期有效</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">-----------------------------------------------------------------------------------------------------------------------------------</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;岗位职责： &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></span><span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">1、协助决策层制定公司发展战略，协助公司中长期目标达成；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2、负责公司业务拓展、销售运作，将计划转变为结果；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3、设置销售目标、销售模式、销售战略、销售预算和奖励计划；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 4、建立和管理销售队伍，规范销售流程，完成销售目标；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5、分析新的和原有分销体制或销售渠道的市场潜力、销售数据，测算盈亏情况；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6、关注于维护和提高公司市场竞争力。</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;职位要求： &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></span><span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">1、具有市场营销本科及以上学历；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2、具有5年以上医疗行业电子营销和渠道管理经验；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3、具有敏锐的市场意识、应变能力、领导能力和独立开拓市场的能力；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 4、有较强的组织协调能力、高度的责任感、良好的沟通能力；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5、具有独立开发客户和良好团队管理的能力；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6、能够设置销售目标、销售模式、销售战略、销售预算和奖励计划；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;职位年薪：</span></span><span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;年薪 15-30万，优秀者面议。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></span><span style="font-size:16px;">
                                <span style="color: rgb(127, 127, 127);">
                                    <span style="color: rgb(127, 127, 127);">
                                        <strong>
                                            将简历发送至：公司企业邮箱<br />
                                            <u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</u>
                                        </strong>
                                    </span>
                                </span>
                            </span>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px"><span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><strong>招聘职位：</strong></span><span style="COLOR: #953734; FONT-SIZE: 14px">销售助理&nbsp;&nbsp;</span><span style="FONT-SIZE: 14px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong><span style="COLOR: #7f7f7f; FONT-SIZE: 16px">招</span></strong><strong><span style="COLOR: #7f7f7f; FONT-SIZE: 16px">聘邮箱：</span></strong><a href="mailto:HR@bjehome.com" style="COLOR: #0070c0; FONT-SIZE: 14px; TEXT-DECORATION: none"><span style="COLOR: #0070c0; FONT-SIZE: 14px">HR@bjehome.com</span></a></span></span>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px">&nbsp;<span style="COLOR: #7f7f7f; FONT-SIZE: 14px">部门：销售部 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;工作岗位：.销售助理 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 工作地点：北京&mdash;西二旗</span></span>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;招聘人数：若干 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 发布日期：2015-04-24 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 长期有效</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">----------------------------------------------------------------------------------------------------------------------------------</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; 岗位职责： &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></span><span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">1、负责本公司产品的宣传推广、销售；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2、负责公司电话营销；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3、统计、回访维护、跟踪客户服务；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 4、协调组织和实施营销相关展览，收集重要信息；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5、完成销售经理交给的其他事务性工作；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6、关注于市场动态，维护和提高公司市场竞争力。</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;职位要求：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1、具有市场营销本科及以上学历；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2、具有5年以上医疗行业电子营销和渠道管理经验；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3、具有敏锐的市场意识、应变能力、领导能力和独立开拓市场的能力；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 4、有较强的组织协调能力、高度的责任感、良好的沟通能力；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5、具有独立开发客户和良好团队管理的能力；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6、能够设置销售目标、销售模式、销售战略、销售预算和奖励计划；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;职位年薪：</span></span><span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;年薪3-5K、餐补交补、双休国家法定节假日，周四下午健身房活动 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></span><span style="font-size:16px;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(127, 127, 127);"><strong>将简历发送至：公司企业邮箱</strong></span></span></span>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            <br />
                            <span style="color:#808080;"><u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</u></span>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px"><span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><strong>招聘职位：</strong></span><span style="COLOR: #953734; FONT-SIZE: 14px">销售经理&nbsp;&nbsp;</span><span style="FONT-SIZE: 14px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong><span style="COLOR: #7f7f7f; FONT-SIZE: 16px">招</span></strong><strong><span style="COLOR: #7f7f7f; FONT-SIZE: 16px">聘邮箱：</span></strong><a href="mailto:HR@bjehome.com" style="COLOR: #0070c0; FONT-SIZE: 14px; TEXT-DECORATION: none"><span style="COLOR: #0070c0; FONT-SIZE: 14px">HR@bjehome.com</span></a></span></span>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px">&nbsp;<span style="COLOR: #7f7f7f; FONT-SIZE: 14px">部门：销售部 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbnbsp; &nbsp; &nbsp; &nbsp; &nbsp;工作岗位：.销售经理 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 工作地点：北京&mdash;西二旗</span></span>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;招聘人数：若干 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 发布日期：2015-04-24 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;长期有效</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">----------------------------------------------------------------------------------------------------------------------------------</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;岗位职责： &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></span><span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">1、负责所辖区域销售计划的制定和执行，完成各人销售年度、季度、月度销售计划；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2、负责直销和渠道新客户的拓展和老客户关系维护；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3、负责针对代理商进行公司产品、销售技巧、市场等方面的培训；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 4、负责销售过程中合同的谈判和项目销售款项的回收。</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;职位要求：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1、电子、营销、管理等相关专业；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2、专科及以上学历；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3、有良好的学习能力、沟通过能力、语言表达能力等；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 4、有直销大客户经验和渠道销售管理经验2年以上者优先考虑</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5、有医疗行业销售经验者优先；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6、能够完成销售目标、销售模式、销售战略、销售预算和奖励计划；</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;职位年薪：</span></span><span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;年薪8-30万，优秀者面议。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                        </p>
                        <p>
                            <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></span><span style="font-size:16px;">
                                <strong>
                                    <span style="color:#808080;">将简历发送至：公司企业邮箱</span><br />
                                    <span style="color:#808080;"><u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</u></span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                </strong>
                            </span>
                        </p>
                        <p>
                            <span style="color:#808080;">
                                <span style="font-size:14px;">
                                    &nbsp;咨询人：葛女士 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;地址：北京市海淀区上地信息产业基地国际创业园2号院2号楼24c<br />
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br />
                                    &nbsp;招聘电话：010-82893616 &nbsp; &nbsp;15300076802 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 邮箱：
                                </span>
                            </span><a href="mailto:HR@bjehome.com" style="font-size: 14px; color: rgb(0, 112, 192); text-decoration: none;">HR@bjehome.com</a>
                        </p>
                        <div>
                            &nbsp;
                        </div>

                    </div>
                </div>

            </div>
            <div class="web_clear"></div>
        </div>
    </div>




