
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Dinlun.GatewaySite.Model.ZhaoPin;

 <div class="w1000">
        <div class="w1050">
            <!--		<div class="web_left">
                         <div class="web_left_1">
                           <span>招贤纳士</span>
                           <span style="float:right;"><img src="/templets/default/images/bjehome_more2.png"/></span>
                         </div>

                         <div class="web_left_2"><ul>

                         </ul></div>
                         <div class="web_left_3">
                            <!--广告-->
            <!--
                 </div>
            </div> -->

            <div class="webwidth_right">
                <ul class="tab">
                    <li>招贤纳士</li>
                    <span style="float:right;"><img src="/templets/default/images/bjehome_more2.png" /></span>
                </ul>

                <div class="web_right_3">
                    <div class="web_right_3_title">招贤纳士</div>
                    <div class="web_right_3_content">

                        @foreach (var zhaoPinModel in (IList<ZhaoPinModel>)ViewBag.ZhaoPinList)
                        {


                            <p>
                                <span style="COLOR: #7f7f7f; FONT-SIZE: 16px">&nbsp;<strong><span style="COLOR: #7f7f7f; FONT-SIZE: 16px">招聘职位：</span></strong></span><span style="COLOR: #953734; FONT-SIZE: 14px">@zhaoPinModel.Title&nbsp;&nbsp;</span><span style="FONT-SIZE: 14px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong><span style="COLOR: #7f7f7f; FONT-SIZE: 16px">招聘邮箱：</span></strong><a href="mailto:HR@bjehome.com" style="COLOR: #0070c0; FONT-SIZE: 14px; TEXT-DECORATION: none"><span style="COLOR: #0070c0; FONT-SIZE: 14px">@zhaoPinModel.Email</span></a>
                            </p>
                            <p>
                                &nbsp;
                            </p>
                            <p>
                                <span style="COLOR: #7f7f7f; FONT-SIZE: 16px">&nbsp;<span style="COLOR: #7f7f7f; FONT-SIZE: 14px">部门：@zhaoPinModel.Department &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 工作地点：@zhaoPinModel.Place</span></span>
                            </p>
                            <p>
                                &nbsp;
                            </p>
                            <p>
                                <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;招聘人数：若干 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 发布日期：@zhaoPinModel.InserTime&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;长期有效</span></span>
                            </p>
                            <p>
                                <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">-----------------------------------------------------------------------------------------------------------------------------------</span></span>
                            </p>
                            <p>
                                <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;岗位职责： &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></span><span style="COLOR: #7f7f7f; FONT-SIZE: 16px">
                                <span style="COLOR: #7f7f7f; FONT-SIZE: 14px">@zhaoPinModel.DutyDesc</span></span>
                            </p>
                            
                            <p>
                                <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;职位要求：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="COLOR: #7f7f7f; FONT-SIZE: 16px">
                                <span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@zhaoPinModel.DescDetail</span></span>
                            </p>
                            <p>
                                <span style="COLOR: #7f7f7f; FONT-SIZE: 16px">
                                <span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;职位年薪： 
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@zhaoPinModel.DaiYu</span></span>
                            </p>
                            <p>
                                <span style="COLOR: #7f7f7f; FONT-SIZE: 16px"><span style="COLOR: #7f7f7f; FONT-SIZE: 14px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                            </p>
                            <p>
                                <span style="font-size:16px;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(127, 127, 127);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>将简历发送至：公司企业邮箱</strong></span></span></span>
                            </p>
                            <p>
                                <span style="color:#808080;"><u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</u></span><br />
                                <span style="color:#808080;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
                            </p>
                        }
                        <div>
                            &nbsp;
                        </div>

                    </div>
                </div>

            </div>
            <div class="web_clear"></div>
        </div>
    </div>




