@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="w1000">
        <div class="w1050">
            <!------------------------->
            <!-- tab标签代码begin -->

            <div class="outer">
                <ul class="tab">


                    <a href='/a/jiejuefangan/yinyitongxitongfangan/'><li>银医通系统方案</li></a>
                    <li style='background:url(/templets/default/images/ico2.png) no-repeat; color:#FFFFFF;'><a href='/a/jiejuefangan/jiminjiankangkajiejuefangan/'>居民健康卡方案</a></li>
                    <a href='/a/jiejuefangan/fenzhendaozhenjiejuefangan/'><li>分诊、导诊方案</li></a>


                </ul>
                <div class="content_neirong">

                    <div style="text-align: center;">
                        <span style="font-size:20px;"><strong>居民健康卡银医解决方案</strong></span>
                    </div>
                    背景：<br />
                    2013年12月国家卫生计生委、国家中医药管理局公布关于加快推进人口健康信息化建设的指导意见，《指导意见》要求，&ldquo;十三五&rdquo;时期，普及应用居民健康卡，全国实现&ldquo;一卡通&rdquo;。<br />
                    <br />
                    概述：<br />
                    居民健康卡，是基于区域卫生信息平台、居民电子健康档案和医疗机构电子病历，可用于居民身份识别、个人基本健康信息存储、实现跨区域跨机构就医数据交换和费用结算的电子信息卡，同时也是一张集社保卡、新农合一卡通、医疗机构就诊卡的功能于一身，并具有金融功能，标准统一，全国通用。<br />
                    持有一张居民健康卡，就等于拥有了一份随身携带的电子病历，预约挂号、查询疫苗接种记录、既往就诊记录和检查检验结果都更加方便；同时也等于拥有了一张金融结算卡，能异地治疗并即时结算。<br />
                    由于居民健康卡在医院内部和外部的业务大多和支付相关，同时也由于建设居民健康卡体系需要巨额的投资，因此，卫生部引入各家商业银行参与居民健康卡的建设，在居民健康卡上赋予金融支付的功能，因此，居民健康卡项目建设和银医一卡通项目已经走在了一起，形成以居民健康卡为统一介质的银医一卡通系统。<br />
                    &nbsp;<br />
                    功能：<br />
                    居民健康卡主要有4项功能：<br />
                    一、是身份识别；<br />
                    二、是跨机构就医一卡通。通过区域卫生信息平台与各类业务应用数据库进行交互处理，实现跨地区和跨机构就医，逐步实现全国就医一卡通；<br />
                    三、是存储基础健康与主要诊疗信息，实现居民健康管理。居民健康卡作为居民健康档案、电子病历的联结载体，支撑居民健康档案、电子病历数据在各系统间的共享交换。还可以脱机存储居民健康档案和电子病历的有关信息，满足异地交换共享和社区及居民健康管理的需要；<br />
                    四、是新农合费用结算与扩展功能。支持金融等扩展功能，如与金融机构联合发卡，用于金融结算等。<br />
                    &nbsp;<br />
                    发放、制作、安全及使用：<br />
                    居民健康卡 - 申领发行&nbsp;<br />
                    中华人民共和国境内居民均可申领，发行对象为本地常住人口，含居住半年以上的流动人口。居民健康卡首次制卡经费，卡应用支撑系统建设、运行和维护等费用按照&ldquo;政府主导，多方筹资&rdquo;的原则解决。补办居民健康卡的成本经费由居民承担。首次申领健康卡是免费的，但是补办健康卡的话就需要交纳一定费用。<br />
                    居民健康卡 - 制作标准&nbsp;<br />
                    居民健康卡的制作应当符合卫生部制定的《居民健康卡技术规范》和相关配套技术规范，确保标准统一、全国通用。卡片和芯片提供机构、卡操作系统提供机构、密钥管理系统提供机构、终端提供机构和制卡机构的资质等都由卫生部负责审核公布。卫生部统一为发行居民健康卡的受理终端分配标识号后，将审核各发行省份招标卡片和芯片提供机构、卡操作系统提供机构、终端提供机构和制卡机构的工作方案以及改变的发行计划，中标结果需报卫生部备案。<br />
                    居民健康卡 - 信息安全&nbsp;<br />
                    居民健康卡采用密钥安全技术，实行全国统一的分级密钥管理体系。卫生部建立居民健康卡密钥体系及国家级居民健康卡密钥管理系统，制订密钥管理制度，负责生成和管理全国的一级根密钥，并按照统一规则生成二级根密钥，分发给省级卫生行政部门。省级卫生行政部门建立本级居民健康卡密钥管理系统，制订密钥管理制度并报卫生部备案，负责管理使用二级根密钥，可根据实际情况，按照统一规则生成三级根密钥或者卡片密钥，通过密钥技术防止数据被篡改。我们将按照<a title="《信息安全等级保护管理办法》">《信息安全等级保护管理办法》</a>要求，强化居民健康卡业务应用系统信息安全等级保护建设。<br />
                    居民健康卡个人信息的使用<br />
                    按照国家个人隐私保护有关规定执行。健康卡信息必须由专门终端机具读取和写入，并与医疗机构应用系统进行后台绑定。居民健康卡应用过程中采用CA证书进行认证，保障读写数据人员的身份真实可靠。居民个人可以设置健康卡用户口令，授权读取内部信息。<br />
                    <h1>
                        总体设计
                    </h1>
                    居民健康卡管理系统分部省地市或医疗机构多级分层，同时要与金融、公安、新农合等互联互通，形成如下整体结构。
                    <div style="text-align: center;">
                        <img alt="" src="/uploads/allimg/141120/2-141120103JM12.jpg" style="width: 557px; height: 352px; " />
                    </div>
                    <div style="text-align: center;">
                        图2&#8209;1总体框架
                    </div>
                    <h2>
                        业务架构
                    </h2>
                    根据卫生部&ldquo;3521&rdquo;工程框架的总体描述，居民健康卡管理系统是基于健康档案的区域卫生信息平台的一个重要应用。<br />
                    为了实现居民健康卡的全生命周期管理，需成立居民健康卡注册管理机构并建设居民健康卡管理系统。
                    <div style="text-align: center;">
                        <img alt="" src="/uploads/allimg/141120/2-141120103S9203.jpg" style="width: 519px; height: 339px; " />
                    </div>
                    <div style="text-align: center;">
                        图2&#8209;2业务流程
                    </div>
                    <h2>
                        系统架构
                    </h2>
                    根据居民健康卡注册管理机构的职责和居民健康卡管理系统的定位，系统架构如下图所示：
                    <div style="text-align: center;">
                        <img alt="" src="/uploads/allimg/141120/2-141120103UU53.jpg" style="width: 539px; height: 339px; " />
                    </div>
                    <div style="text-align: center;">
                        图2&#8209;7系统架构
                    </div>
                    居民健康卡管理系统的用户主要包括：主管领导、SAM卡管理员、业务员、其它人员（如：各级卡管理的操作员、业务员）。<br />
                    居民健康卡管理系统的功能主要涵盖：、居民健康卡管理、SAM卡管理、终端管理、机构管理、备案管理、采购管理、库存管理、黑名单管理、数据管理、统计分析、系统管理。<br />
                    <h2>
                        技术架构
                    </h2>
                    居民健康卡管理系统的技术架构采用面向服务的设计思想（SOA）、基于流行的领域驱动分析设计方法，按照&ldquo;业务模型＋子系统模型＋部署模型&rdquo;的方法论进行系统构建。
                    <div style="text-align: center;">
                        <img alt="" src="/uploads/allimg/141120/2-141120103913S4.jpg" style="width: 369px; height: 535px; " />
                    </div>
                    <div style="text-align: center;">
                        图2&#8209;8技术架构
                    </div>
                    <strong>技术架构特点：</strong><br />
                    &sup2;&nbsp; B/S结构、依照WEB2.0的交互设计原则<br />
                    &sup2;&nbsp; 基于java的MVC多层结构体系<br />
                    &sup2;&nbsp; 业流程驱动节点，可自定义节点<br />
                    &sup2;&nbsp; 业务组件独立封装，可随业务需求加载<br />
                    &sup2;&nbsp; 数据访问层深度封装，更换数据库无需修改业务组件<br />
                    &sup2;&nbsp; 采用连接池机制提高数据存储速度和效率<br />
                    &nbsp;<br />
                    &nbsp;<br />
                    <strong>居民健康卡和银医一卡通项目的关系</strong><br />
                    目前居民健康卡项目和银医一卡通项目已然共同发展，多省业已明确要求医院一卡通系统须基于居民健康卡实施，我公司的银医一卡通方案在设计之初就考虑到系统的适应性和扩展性，因此在扩展居民健康卡的功能时，只需增加居民健康卡读卡模块即可，发卡是较独立的部分，只需通过我公司自助发卡设备与HIS和银行的信息协调和同步，即可轻松发卡。<br />
                    &nbsp;<br />


                </div>
            </div>

            <!-- tab标签代码end -->
            <!------------------------>
            <!--<div class="webwidth_right">
                 <div class="webwidth_right_1">
                   <span>当前位置 > <a href='http://www.bjehome.com/'>首页</a> > <a href='/a/jiejuefangan/'>解决方案</a> > <a href='/a/jiejuefangan/jiminjiankangkajiejuefangan/'>居民健康卡方案</a> > </span>
                  <span style="float:right;"><img src="/templets/default/images/bjehome_more2.png"/></span>
                  </div>
                 <div class="web_right_2"><ul>

                 </ul></div>
                  <div class="dede_pages">
                   <ul class="pagelist">
                    <li><span class="pageinfo">共 <strong>0</strong>页<strong>0</strong>条记录</span></li>

                   </ul>
                  </div>

            </div> -->
            <div class="web_clear"></div>
        </div>
    </div>

  